/* место для вашего кода */
.header {
  padding: 89px 24px 92px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  justify-content: center;
}

.header__menu {
  padding: 42px 20px 39px 27px;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  column-gap: 26px;
}

.menu__list_item_main {
  list-style: none;
}

.menu__list-link {
  padding-right: 5px;
}

.header__logo {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.header__logo-image {
  padding-top: 0;
  width: 135px;
  height: 112px;
}

.header__links-list {
  width: 240px;
  margin: auto 0 auto auto;
}

.address {
  display: flex;
  flex-direction: column;
  width: 241px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-offset: 4px;
}

.header__address {
  padding-top: 5px;
  margin-right: 24px;
  margin-left: auto;
}

.underline {
  text-underline-offset: 4px;
}
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top center;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-transform: uppercase;
  padding: 160px 50px 0 50px;
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  line-height: 125px;
}

.aligned-text {
  display: block;
  text-align: start;
  letter-spacing: 0.04em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  display: block;
  text-align: center;
  letter-spacing: 0.3em;
}

.aligned-text_right {
  display: block;
  text-align: right;
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 50px 51px 78px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  word-spacing: 19px;
  color: white;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-image: none;
}

.lots {
  margin: 179px 24px 0 24px;
}

.lots__heading {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 39px;
}

.lots__card-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -2;
  padding: 51px 40px 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;

  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  font-weight: 00;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.lots__look-more-link {
  display: block;
  position: relative;
  margin: 27px 0 0 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 359px 693px;
  margin: 148px 24px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  margin: 35px 72px 0 47px;
}

.about__logo-image {
  height: 162px;
  width: 150px;
}

.about__column {
  display: contents;
}

.about__title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-transform: uppercase;
  font-size: 40px;
  align-self: center;
  padding-top: 43px;
}
.about__text {
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  margin: 178px 50px 88px;
}

.footer__menu {
  margin: 2px auto auto;
}

.footer__menu-list {
  text-align: center;
  font-size: 18px;
  line-height: 21.13px;
}

.footer__social-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.footer__social-icon {
  height: 48px;
}

.footer__social-list-item {
  margin: 0 48px 0 48px;
  width: 48px;
}
